@charset "UTF-8";

/*-------------------------------------------
お問い合わせ
-------------------------------------------*/
.haikei {
  background: linear-gradient(#E6EAF2,#B7E4D8);
}
.contact-form {
  max-width: 800px;
  margin: 0 auto;
}
.contact-form iframe {
  width: 100%;
  min-height: 1300px;
  border: none;
}
/*-------------------------------------------
スマートフォン
-------------------------------------------*/
@media screen and (max-width: 767px) {
  /*-------------------------------------------
  お問い合わせ
  -------------------------------------------*/
  .contact-form {
    margin-bottom: 40px;
  }
}